---
layout: foundation
title: Parker Grimes
---
<div id="home-image">
    <img src="/img/stars.jpg">
</div>
<div id="home" class="row">
    <div class="medium-3 columns">{% include left_sidebar.html %}</div>
    <div class="medium-9 columns">
        {% for post in site.posts %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post">
                <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}" class="">Read More</a></p>
            </div>
        {% endfor %}
    </div>
</div>